*.exe
.idea
__pycache__/
*.class

# Package Files #
*.jar
*.war
*.ear

.classpath
.project
.settings
/bin/
*.class

# Package Files #
*.jar
*.war
*.ear

.classpath
.project
.settings
/bin/
*.class

# Package Files #
*.jar
*.war
*.ear

.classpath
.project
.settings
/bin/
*.class

# Package Files #
*.jar
*.war
*.ear

.classpath
.project
.settings
/bin/
/bin/
*.class

# Package Files #
*.jar
*.war
*.ear

.classpath
.project
.settings
/bin/
